.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.overlay.is-hidden {
  display: none !important;
}

.modal {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  width: 400px;
  max-height: 100vh;
  overflow-y: scroll;
}

.modal-content {
  min-height: 200px;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
  text-align: center;
  font-family: 'Kaisei Opti', 'Arial Narrow', Arial, sans-serif;
}
.modal-content h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
  text-align: left;
  font-family: 'Kaisei Opti', 'Arial Narrow', Arial, sans-serif;
}
.modal-content p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
  text-align: left;
  font-family: 'Kaisei Opti', 'Arial Narrow', Arial, sans-serif;
}

.player-count {
  color: #333;
  margin-left: 70px;
  width: 100px;
  font-size: 16px;
  padding: 8px 10px;
  text-align: center;
}

.player-info-container {
  margin-left: 20px;
  width: 300px;
  font-size: 16px;
  padding: 8px 10px;
  text-align: left;
}
.player-info {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
}
.player-names {
  width: 200px;
  padding: 6px;
  font-size: 12px;
  font-family: 'Kaisei Opti', 'Arial Narrow', Arial, sans-serif;

}
.player-color {
  width: 60px;
  height: 30px;
  margin-left: 50px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  cursor: pointer;
}

.sugoroku-display {
  margin: 150px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* カメラコンテナのスタイル */
.map-camera {
  width: 100%;
  height: 100%;
  position: relative;
  
  /* 変化を滑らかにする（0.5秒かけてズーム・移動する） */
  transition: transform 0.5s ease-in-out; 
  transition: transform 0.4s ease-out;
  
  /* 💡 超重要：拡大・縮小の「基準点」を常に左上(0,0)にしておく */
  transform-origin: 0 0; 
}

.show-map-title {
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
  color: #333;
  font-family: 'Kaisei Opti', 'Arial Narrow', Arial, sans-serif;
}

#board {
  position: relative;
  width: 80%;
  height: 600px;
  margin: 100px auto;
  align-self: center;
}

/* SVG（線のレイヤー） */
#lines {
  position: absolute;
  top: 0;
  left: 60px;
  width: 100%;
  height: 100%;
  z-index: 5;
}

/* マスのレイヤー */
#map {
  position: absolute;
  top: 0;
  left: 60px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 7;
}

.square {
  position: absolute;
  transform: skewX(-25deg);
  width: 80px;
  height: 80px;
  
  border-radius: 256px 15px 225px 16px / 14px 224px 13px 253px;
  
  outline-offset: -9px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.square.event {
  background-color: #e5e0ca;
  border: 2px solid #687786;
  
  outline: 2px dashed #687786;
  font-size: 40px;
  text-align: center;
}
.square.start-goal {
  background-color: #8B1E3F;
  border: 2px solid #F5F0E6;
  
  outline: 2px dashed #F5F0E6;
  font-size: 20px;
  text-align: center;
  /* background-image: url("/assets/start_square.PNG");
  background-size: cover;
  background-position: center; */
}
.square.normal {
  position: absolute;
  width: 50px;
  height: 30px;
  top: 15px;
  transform: rotate(-10deg);
  background-color: #e5e0ca;
  border: 2px solid #687786;
  border-radius: 49% 50% 56% 55% / 51% 52% 49% 57%;
  outline: 2px dotted #687786;
  outline-offset: -7px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.square:hover {
  border: 4px solid #ff5638;
}
.square-labal {
  width: 70px;
  height: 70px;
  font-size: 70px;
  text-align: center;
}

/* 吹き出し */
.tooltip {
  position: absolute;

  bottom: 110%;
  left: 40px;
  transform: translateX(-50%);

  min-width: 250px;
  max-width: 450px;

  padding: 8px 12px;

  background: #36271e;
  color: white;
  border-radius: 8px;

  font-size: 18px;
  font-family: 'Kaisei Opti', 'Arial Narrow', Arial, sans-serif;
  text-align: center;

  opacity: 0;
  visibility: hidden;

  transition: opacity 0.2s;

  z-index: 100;
}

/* 吹き出しの三角 */
.tooltip::after {
  content: "";

  position: absolute;

  top: 100%;
  left: 50%;

  transform: translateX(-50%);

  border-width: 8px;
  border-style: solid;

  border-color: #1f203d transparent transparent transparent;
}

.square-container {
  position: absolute;
}
/* ホバー時に表示 */
.square-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* 画面からはみ出たマップをスクロールさせたい場合は要調整 */
}

/* コマのスタイル */
.piece-box {
  position: absolute;
  width: 40px;  /* コマと同じサイズにしておく */
  height: 40px;
  z-index: 50;
  
  transition: left 0.3s ease-out, top 0.3s ease-out; /* コマ自体の移動も滑らかに */
}
.piece {
  width: 40px;
  height: 40px;
  /* background-color: #8B1E3F; */
  /* border: 2px solid #1f203d; */
  border-radius: 50%;
  z-index: 50;
}
.piece-label {
  position: absolute;
  bottom: 100%;       /* コマの頭の上（100% ＋ 少しの余白）に配置 */
  left: 50%;
  transform: translateX(-50%); /* 常にコマの真ん中に来るように補正 */
  
  color: #000000;
  font-family: 'Kaisei Opti', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap; /* 改行されないようにする */
}
/* ウィンドウに表示するコマ */
.piece-in-window {
  /* position: absolute; これがあると中央寄せにならなかった*/
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 30px auto;
  align-self: center;
  /* margin-top: 30px;
  margin-left: 60px; */
}

/* サイコロの表示層 */
.dice-layer {
  position: fixed; /* 💡 画面に対して固定 */
  bottom: 60px;    /* 画面右下に配置する例 */
  right: 40px;
  z-index: 300;     /* マップより手前 */
}
.dice-button {
  width: 200px;
  height: 200px;
  padding: 20px;
  font-size: 100px;
  /* ボタンを目立たせる装飾 */
  background: #ff5252c4;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.dice-button:hover {
  background: #ff5252;
}

#dice-box {
  width: 200px;   /* 元の基準サイズは200pxのままにしておく */
  height: 200px;
  position: relative;  
  margin-top: 200px;
  margin-left: 250px;

  /* 箱ごとサイコロを拡大する（2倍にする例） */
  transform: scale(3.0); 
  align-items: center;
  
  /* 拡大してもボヤけないように綺麗に処理するおまじない */
  transform-origin: center center; 
}
#dice-box canvas {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1000 !important;
}

/* ウィンドウ共通スタイル */
.window-layer {
  position: fixed; /* 画面の定位置に浮かせる */
  background: transparent;
  border-radius: 8px;
  padding: 20px;
}

.status-window {
  width: 270px;
  height: 570px;
  padding: 0 20px;
  background-color: rgba(222, 222, 222, 0.6);
  border: 2px solid #323747;
  border-radius: 6px;
  bottom: 60px;
  left: 40px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  align-items: center;
  z-index: 400;
}
.status-window .text {
  width: 270px;
  height: auto;
  font-family: 'Kaisei Opti', 'Arial Narrow', Arial, sans-serif;
  background-color: transparent;
}

.story-window {
  width: 500px;
  height: 100px;
  background-color: rgba(222, 222, 222, 0.6);
  border: 3px solid #323747;
  border-radius: 10px;
  bottom: 60px;
  left: 460px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  font-family: 'Kaisei Opti', 'Arial Narrow', Arial, sans-serif;
  z-index: 400;
  display: none;
}

.show-turn-window {
  width: 360px;
  height: 150px;
  padding: 10px;
  top: 40%;
  left: 36%;
  align-self: center;
  background-color: rgba(45, 63, 91, 0.972);
  font-family: 'Kaisei Opti', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  z-index: 402;
  display: none;
}
